body{
    background-color: #F5F5F5;
}
.menu_list{
    color: #858585; 
    text-decoration: underline;
    border: 1px black;
    font-size: 14px;
}
.burger_menu{
    width:15pc; 
    border: 1px solid #ADADAD;
}
.profile_image{
    width: 3.5pc;
     height: 3.5pc;
}
#welcome_modal{
    position: absolute;
    visibility: visible;
    margin: auto;
    padding: 10px;
    text-align: center;
    width: 100%;
    top: 30%;
}
#groups_container{
    width: 65%;
    height: 20vh;
    background-color:#F5F5F5;
    margin: auto;
    padding: 10px;
    margin-top: 3%;
    visibility: hidden;
    padding-left: 3pc;
}
.welcomeHeader{
    color: #8C8C8C;
    font-size: 3.5pc;
    text-shadow: 1px 1px 1px #5e5959;
    
}
.plus{
    text-align: center;
    color: #BFBFBF;
    font-weight: 900;
    margin-bottom: 0%;
    text-shadow: 1px 1px 1px #807e7e;
}
.getstarted{
    color: #858585;
    text-decoration: underline;
}
.getstarted:hover{
    color: #999999;
}
.modal_size{
    width: 22pc;
     height: 30pc;
}
.modal_body_align{
    margin-left: 3pc;
}
.createbtn{
    margin-bottom: 3pc;
    width: 15pc;
    font-size: 17px;
    font-weight:600;
}
.addmember{
    visibility: hidden;
    text-decoration: underline;
}
.member{
    font-size: 10px;
}
#emailnotregistered{
    font-size: 12px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 10px;
    color:#999999 ;
    visibility: hidden;
}
#navbarToggleExternalContent{
    position: absolute;
    z-index: 5;
}
.sample{
    width: 15pc;
    height: 9pc;
    background-color:#17465c;
    margin-right: 2pc;
    margin-bottom: 2pc;
    border-radius: 1pc;
    box-shadow: 2px 4px 5px #dad8d8;
}
.sample:hover{
    box-shadow: 0px 10px 10px #c0bfbf;
}
.sample2{
    width: 15pc;
    height: 9pc;
    background-color:#c9c9c9;
    margin-right: 2pc;
    margin-bottom: 2pc;
    border-radius: 1pc;
    border: 2px solid #bdbcbc;
}
.sample2:hover{
    background-color:#dbd9d9;
    border: 2px solid #cfcdcd;
}
.infopart{
    width: 100%;
    height: 40%;
    background-color: white;
    border-bottom-left-radius: 1pc;
    border-bottom-right-radius: 1pc;
    margin-top: 36%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 10px 10px;
    
}
.addplus{
    margin-top: 17%;
    text-align: center;
    color: #8d8a8a;
    font-weight: 900;
    margin-bottom: 0%;  
}
.grpname{
    color: rgb(134, 133, 134);
    font-weight: 600;
}
#group_page{

    width: 100%;
    height: 90vh;
    background-color:  #F5F5F5;
    position: absolute;
    top: 3.56pc;
    visibility: hidden;
}
.group_header{
    visibility: hidden;
}
.group_menu_cont{
    position: absolute;
    top: 5pc;
    width: 5pc;
    height: 53.6vh;
    background-color: white;
    box-shadow: 2px 3px 3px #d3d1d1;
}
.group_menu{
    margin-top: 2px;
    margin-right: 2px;
    height: 13vh;
    background-color:rgb(241, 239, 239);
    border:2px solid rgb(233, 230, 230);
}
.group_menu:hover{
    background-color: rgb(224, 223, 223);
}
.menu_imgs{
    width: 75%;
    margin-top: 7px;
    height: auto;
}
.list{
    font-size: 12px;
    text-decoration: underline;
    color: rgb(90, 89, 89);
}
.sidetab{
    width: 60%;
    height: 75%;
    background-color: white;
    border-radius: 1pc;
    border: 1px solid rgb(221, 218, 218);
    margin: auto;
    overflow: auto;
}
#presentmeeting{
    width: 80%;
    height: 90%;
    margin: auto;
    margin-top: 3%;
}
.mymeetings{
  height: 5pc;
  margin-bottom: 1pc;
  border-radius: 5px;
  background-image: url("imgs/pic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid rgb(221, 218, 218);
}
.meetingHeader{
    margin-top: 7px;
    color: white;
}
.meetingdate{
    margin-top: -5px;
    color: white;
}
.join{
    position: relative;
   top: -2pc;
   margin-left: 95%;
   font-size: 14px;
   text-decoration: underline;
}